.moves {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
}

.details {
  padding: 0 16px;
}

.stats {
  margin: 16px auto;
}

.stats td {
  padding: 4px;
}

.img {
  max-width: 100%;
}

@media (min-width: 700px) {
  .details {
    display: grid;
    grid-template-columns: 470px 1fr;
    grid-gap: 16px;
    align-items: center;
  }
}

@media (min-width: 900px) {
  .stats {
    font-size: 2rem;
  }
  .stats td {
    padding: 8px;
  }
}
