.moves {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
}

.details {
  display: grid;
  padding: 0 16px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 16px;
}
